<%= form_for @task do |f| %>
<div class="text_field">
  <%= f.label :name, "Name:" %><br/>
  <%= f.text_field :name %>
</div>

<div class="text_field">
  <%= f.label :finish_by, "Should be finished by:" %><br/>
  <%= f.date_select(:finish_by, :order => [:day, :month, :year]) %>
</div>

<div>
  <%= f.label :content, "Description" %><br/>
  <%= f.text_area :content, :style => "width: 700pt; height: 250pt;" %>
</div>

<div class="actions">
  <%= link_to_submit "Update" %>
</div>
<% end %>
