<h1><%= @task.name %></h1>
<p>(Tags: <%= @task.tag_list %>)</p>
<hr />
<br/>
<p>
  Should be finished by:
  <%= @task.finish_by.strftime("%d %B %Y") unless @task.finish_by.nil? %>
</p>
<br/>
<p>
  Description:
  <%= simple_format @task.content %>
</p>

<br/>

<i><h2>Comments</h2></i>
  <%= render @task.comments %>

<br/>

<h2>Add a comment:</h2>
  <%= render "comments/form" %>

<br/>
<%= link_to 'Home', tasks_path %>|<%= link_to 'Edit', edit_task_path, :name => "hard_button" %>
